In [1]:
import pandas as pd

In [2]:
a = {'name': ['Michael Smith', 'Ana Kors', 'Sean Bill', 'Carl Jonson', 'Bob Evan'],
    'grade': [['A', 'A'], ['C'], ['A', 'C', 'B'], [], ['F']],
    'age': ['19', '19', '17', '18', '-'],
    'group': ['class 1', 'class 2', 'class 2', 'class 1', 'class 2'],
    'suspended': [True, False, True, False, True]
}
df = pd.DataFrame(a)
df

            name      grade age    group  suspended
0  Michael Smith     [A, A]  19  class 1       True
1       Ana Kors        [C]  19  class 2      False
2      Sean Bill  [A, C, B]  17  class 2       True
3    Carl Jonson         []  18  class 1      False
4       Bob Evan        [F]   -  class 2       True

In [3]:
print(df.name.str.upper())
print('\n')
print(df.name.str.lower())

0    MICHAEL SMITH
1         ANA KORS
2        SEAN BILL
3      CARL JONSON
4         BOB EVAN
Name: name, dtype: object


0    michael smith
1         ana kors
2        sean bill
3      carl jonson
4         bob evan
Name: name, dtype: object

In [4]:
print(df.name.str.isupper(),'\n')
print(df.name.str.islower())

0    False
1    False
2    False
3    False
4    False
Name: name, dtype: bool

0    False
1    False
2    False
3    False
4    False
Name: name, dtype: bool

In [5]:
print(df.age.str.isnumeric(),'\n')
print(df.name.str.len(),'\n')
print(df.name.str.split(" "))

0     True
1     True
2     True
3     True
4    False
Name: age, dtype: bool

0    13
1     8
2     9
3    11
4     8
Name: name, dtype: int64

0    [Michael, Smith]
1         [Ana, Kors]
2        [Sean, Bill]
3      [Carl, Jonson]
4         [Bob, Evan]
Name: name, dtype: object

In [6]:
print(df.name.str.startswith ('M'),'\n')
print(df.name.str.endswith ('l'))

0     True
1    False
2    False
3    False
4    False
Name: name, dtype: bool

0    False
1    False
2     True
3    False
4    False
Name: name, dtype: bool

In [7]:
print(df.name.str.find('s'),'\n')
print(df.name.str.findall('B'))

0   -1
1    7
2   -1
3    8
4   -1
Name: name, dtype: int64

0     []
1     []
2    [B]
3     []
4    [B]
Name: name, dtype: object

In [8]:
df.name.str.contains('e')

0     True
1    False
2     True
3    False
4    False
Name: name, dtype: bool