**"Attributes of DataFrame":-**

In [1]:
import pandas as pd

In [2]:
Data = [(1,'Vikas',31,'male','Raipur'),
        (2,'Amir',32,'male','Bilaspur'),
        (3,'Tushar',33,'male','Durg'),
        (4,'Payal',34,'female','Raipur'),
        (5,'Prateek',35,'male','Korba')]
df = pd.DataFrame(Data,columns=['RollNo','Name','Age','Gender','Address'])
print(df)

   RollNo     Name  Age  Gender   Address
0       1    Vikas   31    male    Raipur
1       2     Amir   32    male  Bilaspur
2       3   Tushar   33    male      Durg
3       4    Payal   34  female    Raipur
4       5  Prateek   35    male     Korba

In [3]:
print(df.head())
print("\n",df.head(3))

   RollNo     Name  Age  Gender   Address
0       1    Vikas   31    male    Raipur
1       2     Amir   32    male  Bilaspur
2       3   Tushar   33    male      Durg
3       4    Payal   34  female    Raipur
4       5  Prateek   35    male     Korba

    RollNo    Name  Age Gender   Address
0       1   Vikas   31   male    Raipur
1       2    Amir   32   male  Bilaspur
2       3  Tushar   33   male      Durg

In [4]:
print(df.tail())
print("\n",df.tail(3))

   RollNo     Name  Age  Gender   Address
0       1    Vikas   31    male    Raipur
1       2     Amir   32    male  Bilaspur
2       3   Tushar   33    male      Durg
3       4    Payal   34  female    Raipur
4       5  Prateek   35    male     Korba

    RollNo     Name  Age  Gender Address
2       3   Tushar   33    male    Durg
3       4    Payal   34  female  Raipur
4       5  Prateek   35    male   Korba

In [5]:
print("Shape:",df.shape)
print("Size:",df.size)
print(df.dtypes)

Shape: (5, 5)
Size: 25
RollNo      int64
Name       object
Age         int64
Gender     object
Address    object
dtype: object

In [6]:
print(df.Age,df.Gender)
print('\t')
print(df['Age'])
print(df[['Age','Gender','Age']])

0    31
1    32
2    33
3    34
4    35
Name: Age, dtype: int64 0      male
1      male
2      male
3    female
4      male
Name: Gender, dtype: object

0    31
1    32
2    33
3    34
4    35
Name: Age, dtype: int64
   Age  Gender  Age
0   31    male   31
1   32    male   32
2   33    male   33
3   34  female   34
4   35    male   35

In [7]:
print(df.values)
print(df.index)
print(df.columns)

[[1 'Vikas' 31 'male' 'Raipur']
 [2 'Amir' 32 'male' 'Bilaspur']
 [3 'Tushar' 33 'male' 'Durg']
 [4 'Payal' 34 'female' 'Raipur']
 [5 'Prateek' 35 'male' 'Korba']]
RangeIndex(start=0, stop=5, step=1)
Index(['RollNo', 'Name', 'Age', 'Gender', 'Address'], dtype='object')

In [8]:
print(df.memory_usage())
print("Dimensions:",df.ndim)

Index      132
RollNo      40
Name        40
Age         40
Gender      40
Address     40
dtype: int64
Dimensions: 2