In [1]:
import pandas as pd

In [2]:
df1 = pd.DataFrame([[1,20,3],[45,23,60],[4,62,9]],columns=['A','B','C'])
df1

    A   B   C
0   1  20   3
1  45  23  60
2   4  62   9

In [3]:
df2a = pd.DataFrame([[8,20,73],[49,23,63],[34,62,90]],columns=['X','Y','Z'])
df2a

    X   Y   Z
0   8  20  73
1  49  23  63
2  34  62  90

In [4]:
df3 = pd.merge(df1 , df2a , right_on='Y',left_on='B')
df3

    A   B   C   X   Y   Z
0   1  20   3   8  20  73
1  45  23  60  49  23  63
2   4  62   9  34  62  90

In [5]:
df2b = pd.DataFrame([[8,23,73],[49,20,63],[34,62,90]],columns=['X','Y','Z'])
df2b

    X   Y   Z
0   8  23  73
1  49  20  63
2  34  62  90

In [6]:
df3 = pd.merge(df1 , df2b , right_on='Y',left_on='B')
df3

    A   B   C   X   Y   Z
0   1  20   3  49  20  63
1  45  23  60   8  23  73
2   4  62   9  34  62  90