In [1]:
import pandas as pd

In [2]:
df = pd.DataFrame([[1,20,3,42,30],[45,23,63,21,56],[4,67,9,10,41],[10,68,76,2,3],[32,56,42,8,100]],columns=['A','B','C','D','E'])
df             # Creating a DataFrame

    A   B   C   D    E
0   1  20   3  42   30
1  45  23  63  21   56
2   4  67   9  10   41
3  10  68  76   2    3
4  32  56  42   8  100

In [3]:
df.to_csv('sample.csv')              # Writing a CSV File

In [4]:
df.to_csv('sample2.csv',index=False) # Writing a CSV File

In [5]:
df =pd.read_csv('sample.csv')       # Reading a CSV File
df

   Unnamed: 0   A   B   C   D    E
0           0   1  20   3  42   30
1           1  45  23  63  21   56
2           2   4  67   9  10   41
3           3  10  68  76   2    3
4           4  32  56  42   8  100

In [6]:
df =pd.read_csv('sample2.csv')      # Reading a CSV File
df

    A   B   C   D    E
0   1  20   3  42   30
1  45  23  63  21   56
2   4  67   9  10   41
3  10  68  76   2    3
4  32  56  42   8  100

In [7]:
print(df['A'].dtype)

int64