In [1]:
import pandas as pd

In [2]:
a = pd.read_csv("Toyota.csv")
a

,Unnamed: 0,Price,Age,KM,FuelType,HP,MetColor,Automatic,CC,Doors,Weight
0,0,13500,23.0,46986,Diesel,90,1.0,0,2000,three,1165
1,1,13750,23.0,72937,Diesel,90,1.0,0,2000,3,1165
2,2,13950,24.0,41711,Diesel,90,NaN,0,2000,3,1165
3,3,14950,26.0,48000,Diesel,90,0.0,0,2000,3,1165
4,4,13750,30.0,38500,Diesel,90,0.0,0,2000,3,1170
...,...,...,...,...,...,...,...,...,...,...,...
1431,1431,7500,NaN,20544,Petrol,86,1.0,0,1300,3,1025
1432,1432,10845,72.0,??,Petrol,86,0.0,0,1300,3,1015
1433,1433,8500,NaN,17016,Petrol,86,0.0,0,1300,3,1015
1434,1434,7250,70.0,??,NaN,86,1.0,0,1300,3,1015
1435,1435,6950,76.0,1,Petrol,110,0.0,0,1600,5,1114

In [3]:
print(a.dtypes)      # Checking Datatype of each column

Unnamed: 0      int64
Price           int64
Age           float64
KM             object
FuelType       object
HP             object
MetColor      float64
Automatic       int64
CC              int64
Doors          object
Weight          int64
dtype: object

In [4]:
print(a.select_dtypes(exclude=[object]))    # Selecting data based on Datatypes

      Unnamed: 0  Price   Age  MetColor  Automatic    CC  Weight
0              0  13500  23.0       1.0          0  2000    1165
1              1  13750  23.0       1.0          0  2000    1165
2              2  13950  24.0       NaN          0  2000    1165
3              3  14950  26.0       0.0          0  2000    1165
4              4  13750  30.0       0.0          0  2000    1170
...          ...    ...   ...       ...        ...   ...     ...
1431        1431   7500   NaN       1.0          0  1300    1025
1432        1432  10845  72.0       0.0          0  1300    1015
1433        1433   8500   NaN       0.0          0  1300    1015
1434        1434   7250  70.0       1.0          0  1300    1015
1435        1435   6950  76.0       0.0          0  1600    1114

[1436 rows x 7 columns]

In [5]:
print(a.info())           # Summary of DataFrame

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1436 entries, 0 to 1435
Data columns (total 11 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   Unnamed: 0  1436 non-null   int64
 1   Price       1436 non-null   int64
 2   Age         1336 non-null   float64
 3   KM          1436 non-null   object
 4   FuelType    1336 non-null   object
 5   HP          1436 non-null   object
 6   MetColor    1286 non-null   float64
 7   Automatic   1436 non-null   int64
 8   CC          1436 non-null   int64
 9   Doors       1436 non-null   object
 10  Weight      1436 non-null   int64
dtypes: float64(2), int64(5), object(4)
memory usage: 123.5+ KB
None

In [6]:
b = pd.read_csv("Toyota.csv",index_col=0,na_values=['??','????'])
print(b.info())           # Replacing special character with NAN

<class 'pandas.core.frame.DataFrame'>
Index: 1436 entries, 0 to 1435
Data columns (total 10 columns):
 #   Column     Non-Null Count  Dtype
---  ------     --------------  -----
 0   Price      1436 non-null   int64
 1   Age        1336 non-null   float64
 2   KM         1421 non-null   float64
 3   FuelType   1336 non-null   object
 4   HP         1430 non-null   float64
 5   MetColor   1286 non-null   float64
 6   Automatic  1436 non-null   int64
 7   CC         1436 non-null   int64
 8   Doors      1436 non-null   object
 9   Weight     1436 non-null   int64
dtypes: float64(4), int64(4), object(2)
memory usage: 123.4+ KB
None

In [7]:
# Converting Variable's datatype
a['MetColor'] = a['MetColor'].astype('object')
a['Automatic'] = a['Automatic'].astype('object')
print(a.info())

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1436 entries, 0 to 1435
Data columns (total 11 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   Unnamed: 0  1436 non-null   int64
 1   Price       1436 non-null   int64
 2   Age         1336 non-null   float64
 3   KM          1436 non-null   object
 4   FuelType    1336 non-null   object
 5   HP          1436 non-null   object
 6   MetColor    1286 non-null   object
 7   Automatic   1436 non-null   object
 8   CC          1436 non-null   int64
 9   Doors       1436 non-null   object
 10  Weight      1436 non-null   int64
dtypes: float64(1), int64(4), object(6)
memory usage: 123.5+ KB
None

In [8]:
print(a['FuelType'].nbytes)
print(a['FuelType'].astype('category').nbytes)

11488
1460

In [9]:
print(pd.unique(a['Doors']))
a['Doors'].replace('three',3,inplace=True)
a['Doors'].replace('four',4,inplace=True)

print(pd.unique(a['Doors']))

['three' '3' '5' '4' 'four' 'five' '2']
[3 '3' '5' '4' 4 'five' '2']

In [10]:
print(a.isnull().sum())      # To count missing values

Unnamed: 0      0
Price           0
Age           100
KM              0
FuelType      100
HP              0
MetColor      150
Automatic       0
CC              0
Doors           0
Weight          0
dtype: int64

In [11]:
print(a.isna().sum())

Unnamed: 0      0
Price           0
Age           100
KM              0
FuelType      100
HP              0
MetColor      150
Automatic       0
CC              0
Doors           0
Weight          0
dtype: int64

In [14]:
missing = a[a.isnull().any(axis=1)]
print(missing)

      Unnamed: 0  Price   Age     KM FuelType    HP MetColor Automatic    CC  \
2              2  13950  24.0  41711   Diesel    90      NaN         0  2000
6              6  16900  27.0     ??   Diesel  ????      NaN         0  2000
7              7  18600  30.0  75889      NaN    90      1.0         0  2000
9              9  12950  23.0  71138   Diesel  ????      NaN         0  1900
21            21  16950  29.0  43905      NaN   110      0.0         1  1600
...          ...    ...   ...    ...      ...   ...      ...       ...   ...
1427        1427   8950   NaN  29000   Petrol    86      1.0         1  1300
1428        1428   8450  72.0     ??   Petrol    86      NaN         0  1300
1431        1431   7500   NaN  20544   Petrol    86      1.0         0  1300
1433        1433   8500   NaN  17016   Petrol    86      0.0         0  1300
1434        1434   7250  70.0     ??      NaN    86      1.0         0  1300

     Doors  Weight
2        3    1165
6        3    1245
7        3    1245
9        3    1105
21       3    1170
...    ...     ...
1427     3    1045
1428     3    1015
1431     3    1025
1433     3    1015
1434     3    1015

[325 rows x 11 columns]